{
  "features": [
    {
      "geometry": {
        "coordinates": [
        ],
        "type": "Polygon"
      },
      "properties": {},
      "type": "Feature"
    },
    {
      "geometry": {
        "coordinates": [
        ],
        "type": "Polygon"
      },
      "properties": {},
      "type": "Feature"
    },
    {
      "geometry": {
        "coordinates": [
        ],
        "type": "MultiPolygon"
      },
      "properties": {
        "operation": "intersection"
      },
      "type": "Feature"
    }
  ],
  "type": "FeatureCollection"
}