[package]
name = "geo"
description = "Geospatial primitives and algorithms"
version = "0.28.0"
license = "MIT OR Apache-2.0"
repository = "https://github.com/georust/geo"
documentation = "https://docs.rs/geo/"
readme = "../README.md"
keywords = ["gis", "geo", "geography", "geospatial"]
autobenches = true
edition = "2021"
rust-version = "1.70"
categories = ["science::geo"]

[features]
default = ["earcutr", "spade"]
use-proj = ["proj"]
proj-network = ["use-proj", "proj/network"]
use-serde = ["serde", "geo-types/serde"]

[dependencies]
earcutr = { version = "0.4.2", optional = true }
spade = { version = "2.2.0", optional = true }
float_next_after = "1.0.0"
geo-types = { version = "0.7.13", features = ["approx", "use-rstar_0_12"] }
geographiclib-rs = { version = "0.2.3", default-features = false }
log = "0.4.11"
num-traits = "0.2"
proj = { version = "0.27.0", optional = true }
robust = "1.1.0"
rstar = "0.12.0"
serde = { version = "1.0", optional = true, features = ["derive"] }

[dev-dependencies]
approx = ">= 0.4.0, < 0.6.0"
criterion = { version = "0.4", features = ["html_reports"] }
geo-test-fixtures = { path = "../geo-test-fixtures" }
jts-test-runner = { path = "../jts-test-runner" }
pretty_env_logger = "0.4"
rand = "0.8.0"
rand_distr = "0.4.3"

### boolean-ops test deps
wkt = "0.10.1"

[[bench]]
name = "area"
harness = false

[[bench]]
name = "coordinate_position"
harness = false

[[bench]]
name = "contains"
harness = false

[[bench]]
name = "convex_hull"
harness = false

[[bench]]
name = "concave_hull"
harness = false

[[bench]]
name = "intersection"
harness = false

[[bench]]
name = "vincenty_distance"
harness = false

[[bench]]
name = "geodesic_distance"
harness = false

[[bench]]
name = "extremes"
harness = false

[[bench]]
name = "euclidean_distance"
harness = false

[[bench]]
name = "rotate"
harness = false

[[bench]]
name = "relate"
harness = false

[[bench]]
name = "simplify"
harness = false

[[bench]]
name = "simplifyvw"
harness = false

[[bench]]
name = "frechet_distance"
harness = false

[[bench]]
name = "rand_line_crossings"
harness = false

[[bench]]
name = "winding_order"
harness = false

[[bench]]
name = "monotone_subdiv"
harness = false

[[bench]]
name = "triangulate"
harness = false
