[package]
name = "geo"
description = "Geospatial primitives and algorithms"
version = "0.16.0"
authors = ["Corey Farwell <coreyf@rwell.org>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/georust/geo"
documentation = "https://docs.rs/geo/"
readme = "../README.md"
keywords = ["gis", "geo", "geography", "geospatial"]
autobenches = true
edition = "2018"

[badges]
travis-ci = { repository = "georust/geo" }

[dependencies]
num-traits = "0.2"
serde = { version = "1.0", optional = true, features = ["derive"] }
rstar = { version = "0.8" }
geographiclib-rs = { version = "0.2" }

proj = { version = "0.20.3", optional = true }

geo-types = { version = "0.6.2", path = "../geo-types", features = ["rstar"] }

robust = { version = "0.2.2" }

[features]
default = []
use-proj = ["proj"]
proj-network = ["use-proj", "proj/network"]
use-serde = ["serde", "geo-types/serde"]

[dev-dependencies]
approx = "0.3.0"
criterion = { version = "0.3" }
rand = "0.7.3"

[[bench]]
name = "area"
harness = false

[[bench]]
name = "contains"
harness = false

[[bench]]
name = "convex_hull"
harness = false

[[bench]]
name = "concave_hull"
harness = false

[[bench]]
name = "vincenty_distance"
harness = false

[[bench]]
name = "geodesic_distance"
harness = false

[[bench]]
name = "extremes"
harness = false

[[bench]]
name = "euclidean_distance"
harness = false

[[bench]]
name = "rotate"
harness = false

[[bench]]
name = "simplify"
harness = false

[[bench]]
name = "frechet_distance"
harness = false
