[package]
name = "geo"
description = "Geospatial primitives and algorithms"
version = "0.19.0"
authors = ["Corey Farwell <coreyf@rwell.org>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/georust/geo"
documentation = "https://docs.rs/geo/"
readme = "../README.md"
keywords = ["gis", "geo", "geography", "geospatial"]
autobenches = true
edition = "2021"

[features]
use-proj = ["proj"]
proj-network = ["use-proj", "proj/network"]
use-serde = ["serde", "geo-types/serde"]

[dependencies]
geo-types = { path = "../geo-types", version = "0.7.3", features = ["approx", "use-rstar"] }
geographiclib-rs = "0.2"
log = "0.4.11"
num-traits = "0.2"
#proj = { version = "0.25.2", optional = true }
# Fixing proj to #117 merge
proj = { git = "https://github.com/georust/proj", rev = "e39a671d9afd52c13e180516d6dffd9b79a89d2e", optional = true }
robust = "0.2.2"
rstar = "0.8"
serde = { version = "1.0", optional = true, features = ["derive"] }

[dev-dependencies]
approx = "0.4.0"
criterion = "0.3"
geo-test-fixtures = { path = "../geo-test-fixtures" }
jts-test-runner = { path = "../jts-test-runner" }
pretty_env_logger = "0.4"
rand = "0.8.0"

[[bench]]
name = "area"
harness = false

[[bench]]
name = "contains"
harness = false

[[bench]]
name = "convex_hull"
harness = false

[[bench]]
name = "concave_hull"
harness = false

[[bench]]
name = "vincenty_distance"
harness = false

[[bench]]
name = "geodesic_distance"
harness = false

[[bench]]
name = "extremes"
harness = false

[[bench]]
name = "euclidean_distance"
harness = false

[[bench]]
name = "rotate"
harness = false

[[bench]]
name = "relate"
harness = false

[[bench]]
name = "simplify"
harness = false

[[bench]]
name = "simplifyvw"
harness = false

[[bench]]
name = "frechet_distance"
harness = false
