# Trigger the workflow on push or pull request
on: [push, pull_request]
name: Run tests
jobs:
  geo_types:
    name: geo-types
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: geo-types
    container:
      image: georust/geo-ci:53626b645f1cffa79ee7088407fea22982bd81f8
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - run: cargo install cargo-all-features
      - run: cargo build-all-features
      - run: cargo test-all-features

  geo:
    name: geo
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: geo
    container:
      image: georust/geo-ci:53626b645f1cffa79ee7088407fea22982bd81f8
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - run: cargo install cargo-all-features
      - run: cargo build-all-features
      - run: cargo test-all-features

  geo_postgis:
    name: geo-postgis
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: geo-postgis
    container:
      image: georust/geo-ci:53626b645f1cffa79ee7088407fea22982bd81f8
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - run: cargo install cargo-all-features
      - run: cargo build-all-features
      - run: cargo test-all-features

  test:
    name: coverage
    runs-on: ubuntu-latest
    container:
      image: georust/geo-ci:53626b645f1cffa79ee7088407fea22982bd81f8
      options: --security-opt seccomp=unconfined
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Generate code coverage
        run: cargo tarpaulin --verbose --all-features --workspace --timeout 120 --out Lcov
      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@v1.1.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: lcov.info
